.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 21.875rem;
  max-width: 100%;
  max-height: 37.5rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  /* Fundal negru */
  background-color: black;

  /* Bordură cu gradient */
  border: 0.25rem solid transparent;
  border-radius: 0.938rem;
  background-image: linear-gradient(black, black),
    radial-gradient(circle, #ff6b6b, #f06595, #845ef7);
  background-origin: border-box;
  background-clip: content-box, border-box;

  /* Asigură că scrollbar-ul rămâne în interiorul limitelor */
  box-sizing: border-box;
  margin-right: 1.875rem;
  margin-top: 1.875rem;

  /* Shadow modern */
  box-shadow: 0rem 0.625rem 0.938rem rgba(0, 0, 0, 0.7),
    /* Umbra primară, ușor difuză */ 0rem 1.25rem 1.875rem rgba(0, 0, 0, 0.7),
    /* Umbra secundară, mai adâncă */ 0rem 0.313rem 0.625rem
      rgba(255, 255, 255, 0.05);

  .playlist-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.625rem;
    width: 100%;
    gap: 1.25rem;
    min-height: auto;

    .song-details {
      align-items: flex-start;
    }

    h1 {
      padding: 0rem;
      margin-bottom: 0.625rem;
      font-size: 1.75rem;
      color: #fff;
    }

    p {
      font-size: 1.125rem;
    }

    &:hover {
      background-color: #b3b3b3;
    }

    &.selected {
      background-color: #454545;
    }

    .song-thumbnail {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border: 0.188rem solid #808080;
    }
  }
}
