.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem;
  background-color: #23272f;

  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.links {
  display: flex;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.094rem;
  transition: color 0.1s ease-in-out; /* Animație la hover */
}

.navbar ul li a:hover {
  color: #58c4dc; /* Schimbă culoarea la hover */
  border-bottom: 0.125rem solid #58c4dc; /* Linie sub link la hover */
}

.login {
  color: #fff;
  text-decoration: none;
  font-size: 1.094rem;
  transition: color 0.3s ease-in-out;
  border: 0.063rem solid;
  padding: 0.5rem 2.5rem;
  border-radius: 1.25rem;
}

.icon-theme {
  margin-right: 3.75rem;
  cursor: pointer;
}
