.passwordrequirements {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58c4dc;
  width: 25rem;
  height: 10rem;
  position: absolute;
  border-radius: 0.25rem;
  left: 32.5rem;
  z-index: 1;
  animation-name: tilt-shaking;
  animation-duration: 1s;
}

.passwordrequirements__emoji {
  display: inline-block;
  font-size: 7rem;
}

.passwordrequirements__text {
  font-size: 1.38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes tilt-shaking {
  0% {
    transform: translateY(-300px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
